@charset "UFT-8" ; 

.top_bn{
    max-width: 100%;
    color: #fff;
    background:#5f0080;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

.clearfix{
    clear: both;
    
}
.top_nav{
    margin: 15px 0;
}

.top_nav div{
    float: left;
    border: 1px solid #9d9d9d;
    padding: 5px 15px;
    border-radius: 999px;
}

.top_nav span{
    color: #5f0080;
}
.top_nav ul{
    float: right;
}

.top_nav ul li{
    float: left;
    
}

.top_nav ul li~li{
    margin-left: 20px;
}

.logo{
    background-image: url(https://res.kurly.com/images/marketkurly/logo/logo_x2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 103px;
    height: 79px;
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 48%;
}


/* 메인카테고리 */
nav{
    display: flex;
    font-size: 16px;
    position: relative;
    top: 110px;
    font-weight: 700;
    height: 55px;
   justify-content: flex-start;
   width: 1050px;
}
.pa li{
    width: 116px;
}
nav div{
    display: flex;
    flex-direction: column;
} 
nav div h2{
    width: 116px;
    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
}
nav div ul >li{
    display: none;
} 
.navv {
    display: flex;
    
}
.navv li{
    /* margin-right: 80px; */
    line-height: 55px;
    text-align: center;
   
}
.navv li:nth-child(4){
    margin-right: 0;
}

/* 검색창 */
form{
    padding-top: 10px;
}
input{
    
    background-color: #d5d5d5;
    width: 242px;
    height: 36px;
    border-radius: 18px;
    padding: 0 60px 0 14px;
    /* margin-left: 50px; */
}
.icon_nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: flex-end;
    width: 300px;
    
}
.icon_nav a{
   margin-left: 40px;
}
.place{
    width: 36px;
    height: 36px;
    background-image: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1);
}
.like{
    width: 36px;
    height: 36px;
 background-image: url(https://res.kurly.com/pc/service/pick/btn-heart-off.svg);
}
.buy{
    width: 36px;
    height: 36px;
    background-image: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg);
}
/* 옆 네비 */

.nav_de{
    position: fixed;
    right: 100px;
    top: 500px;
    width: 100px;
    height: 500px;
}

.main_ba{
    background-image: url(https://img-cf.kurly.com/banner/main/pc/img/2b45827a-1b1a-4e5b-ac72-a5c1c75db93e);
    width: 1050px;
    height: 370px;
    background-size: cover;
    background-position: center;
    display: block;
    position: relative;
    top: 120px;
}
.layout{
    position: relative;
    top: 180px;
    
}

.layout h2{
    text-align: center;
    padding: 40px;
}
.layout article  {
     display: flex;
     width: 1050px;
     justify-content: space-between;
     
}

.layout article img{
    width: 249px;
    height: 320px;
}

.container2{
    position: relative;
    top: 300px;
}

.container2 img{

}